<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
    version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	

	
	<servlet>
		<servlet-name>EmpresaServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.EmpresaServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AlumnoServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AlumnoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.EditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlumnoServlet</servlet-name>
		<url-pattern>/alumno</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EmpresaServlet</servlet-name>
		<url-pattern>/empresa</url-pattern>
	</servlet-mapping>


	
	

	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>

</web-app>
