<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Aplicacion de Almacen de Libros</display-name>
	<description></description>

	<servlet>
		<servlet-name>LibroListadoServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.LibroListadoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LibroInsertarServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.LibroInsertarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LibroBorrarServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.LibroBorrarServlet</servlet-class>
	</servlet>
	
	

	<servlet>
		<servlet-name>AlmacenListadoServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AlmacenListadoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlmacenInsertarServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AlmacenInsertarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlmacenBorrarServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AlmacenBorrarServlet</servlet-class>
	</servlet>
	
	

	<servlet-mapping>
		<servlet-name>LibroListadoServlet</servlet-name>
		<url-pattern>/listadoLibros</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LibroInsertarServlet</servlet-name>
		<url-pattern>/insertarLibro</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LibroBorrarServlet</servlet-name>
		<url-pattern>/borrarLibro</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet-mapping>
		<servlet-name>AlmacenListadoServlet</servlet-name>
		<url-pattern>/listadoAlmacenes</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlmacenInsertarServlet</servlet-name>
		<url-pattern>/insertarAlmacen</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AlmacenBorrarServlet</servlet-name>
		<url-pattern>/borrarAlmacen</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>/almacen_insertar.jsp</welcome-file>
	</welcome-file-list>

</web-app>     
