<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">

	<display-name>HelloWorld Application</display-name>
	<description></description>
	
	<servlet>
		<servlet-name>ListWarehouseServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.ListWarehouseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>addWarehouseOldServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AddWarehouseOldServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>addWarehouseNewServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AddWarehouseNewServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>addBookNewServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AddBookNewServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>addBookOldServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AddBookOldServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>deleteWarehouseOldServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.DeleteWarehouseOldServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>deleteWarehouseNewServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.DeleteWarehouseNewServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>recoveryAddIdWarehouseOldServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.RecoveryAddIdWarehouseOldServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>recoveryAddIdWarehouseNewServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.RecoveryAddIdWarehouseNewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>recoveryAddIdWarehouseOldServlet</servlet-name>
		<url-pattern>/recoveryAddIdWarehouseOld</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>recoveryAddIdWarehouseNewServlet</servlet-name>
		<url-pattern>/recoveryAddIdWarehouseNew</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addBookNewServlet</servlet-name>
		<url-pattern>/addBookNew</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addBookOldServlet</servlet-name>
		<url-pattern>/addBookOld</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>deleteWarehouseNewServlet</servlet-name>
		<url-pattern>/deleteWarehouseNew</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>deleteWarehouseOldServlet</servlet-name>
		<url-pattern>/deleteWarehouseOld</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addWarehouseOldServlet</servlet-name>
		<url-pattern>/insertWarehouseOld</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addWarehouseNewServlet</servlet-name>
		<url-pattern>/insertWarehouseNew</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListWarehouseServlet</servlet-name>
		<url-pattern>loadList</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>     
