<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
    version="3.1">
	<display-name>Fct companies Web Application</display-name>
	
	<servlet>
		<servlet-name>CompanyServlet</servlet-name>
		<servlet-class>com.mycompany.servlet.ComapnyServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.mycompany.servlet.EditServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.mycompany.servlet.StudentServlet</servlet-class>
    </servlet>
	

	<servlet-mapping>
		<servlet-name>ComapnyServlet</servlet-name>
		<url-pattern>/company</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<welcome-file-list>
		<welcome-file>list.jsp</welcome-file>
	</welcome-file-list>

</web-app>
