<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">
	<display-name>RecuperacionServlet</display-name>

	<servlet>
		<servlet-name>CharacterServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.CharacterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RaceServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.RaceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CharacterServlet</servlet-name>
		<url-pattern>/character</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RaceServlet</servlet-name>
		<url-pattern>/race</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>