<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">
	<display-name>RecuperacionServlet</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>DeleteRaceServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.DeleteRaceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteCharacterServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.DeleteCharacterServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdateCharacterServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.UpdateCharacterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteRaceServlet</servlet-name>
		<url-pattern>/deleteRace</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteCharacterServlet</servlet-name>
		<url-pattern>/deleteCharacter</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdateCharacterServlet</servlet-name>
		<url-pattern>/updateCharacter</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>